<%- include('./partials/head') %>

<%- include('./partials/iconBar') %>

<%- include('./partials/collection') %>

<h1>Waiting for players...</h1>

<section class="medium-menu">
  <span class="game-code"><%= gameCode %></span>
  <h2>Players</h2>
  <ul class="player-invite-list">
    <% if (players.length === 0) { %>
      <li class="no-players">No players yet...</li>
    <% } else { %>
      <% players.forEach(player => { %>
        <li class="<% if(player.role === "host") { %>host<% } %>"><%= player.name %><span id="remove-player-icon" class="player-list-icon float-right <% if(player.role === "host") { %>hide<% } %>"><i class="fa fa-times" aria-hidden="true"></i></span></li>
      <% }); %>
    <% } %>
  </ul>
</section>

<%- include('./partials/foot') %>

<script>
  const socket = io(); // Establish socket.io connection

  // Event listener for setRole event
  socket.on('setRole', (role) => {
    localStorage.setItem('playerRole', role); // Store the player role in local storage
  });

  // Event listener for playerListUpdate event
  socket.on('playerListUpdate', (players) => {
    // Get the player list element
    const playerList = document.getElementById('player-list');
    
    // Clear the current player list
    playerList.innerHTML = '';
    
    // Render the updated player list
    players.forEach(player => {
      const listItem = document.createElement('li');
      listItem.className = player.role === 'host' ? 'host' : '';
      listItem.innerHTML = `${player.name}<span id="remove-player-icon" class="player-list-icon float-right ${player.role === 'host' ? 'hide' : ''}"><i class="fa fa-times" aria-hidden="true"></i></span>`;
      playerList.appendChild(listItem);
    });
  });
</script>