<%- include('./partials/head') %>

<%- include('./partials/iconBar') %>

<%- include('./partials/collection') %>

<h1>Waiting for players...</h1>

<section class="medium-menu">
  <span class="game-code"><%= gameCode %></span>
  <h2>Players</h2>
  <ul class="player-invite-list">
    <% if (players.length === 0) { %>
      <li class="no-players">No players yet...</li>
    <% } else { %>
      <% players.forEach(player => { %>
        <li class="<% if(player.role === "host") { %>host<% } %>"><%= player.name %><span id="remove-player-icon" class="player-list-icon float-right <% if(player.role === "host") { %>hide<% } %>"><i class="fa fa-times" aria-hidden="true"></i></span></li>
      <% }); %>
    <% } %>
  </ul>
</section>

<%- include('./partials/foot') %>

<script>  
  
</script>